*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #EDEFED;
}

p {
    font-family: 'Merriweather', 'Times New Roman', serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Lato', 'Helvetica', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-bar {
    position: fixed;
    padding: 0 20px;
    top: 0;
    background: rgba(231, 76, 60, 0.81);
    width: 100%;
    color: white;
    border-bottom: 2px rgba(184, 63, 50, 0.81) solid;
    height: 50px;
    display: table;
    z-index: 100;
}

.top-bar > * {
    display: table-cell;
    vertical-align: middle;
}

.map-wrapper {
    height: 270px;
    overflow: hidden;
    width: 80%;
    margin-top: 50px;
    border-bottom: 1px #aaa solid;
    margin: 50px 0 0 auto;
    position: relative;
}

.map-wrapper img {
    margin-top: -460px;
}

.map {
    max-width: 100%;
}

.content {
    margin: 0 auto 50px auto;
    position: relative;
}

.filters-bar {
    width: 20%;
    position: fixed;
    top: 50px;
    background: rgb(40, 40, 40);
    font-family: Merriweather, Helvetica, sans-serif;
    color: white;
    height: 100%;
    font-weight: lighter;
    box-shadow: inset -23px -20px 30px -20px black;
}

.results-body {
    width: 80%;
    margin-left: 20%;
    display: inline-block;
}

.result {
    padding: 15px;
    font-family: Merriweather, Helvetica, sans-serif;
    color: #333;
    font-weight: lighter;
    border-bottom: 1px #ddd solid;
    display: table;
}

.result > * {
    display: table-cell;
    vertical-align: top;
}

.result:first-child {
    margin-top: 0;
}

.result-photo-wrapper {
    width: 25%;
}

.result-photo-wrapper img {
    max-width: 100%;
}

.result-infos {
    padding: 0 0 0 10px;
    width: 58%;
}

.result-title {
    margin-bottom: 10px;
    font-size: 1.9em;
}

.result-description {
    font-size: 0.8em;
    text-indent: 2em;
    color: #555;
}

.result-submit {
    text-align: center;
    position: relative;
}

.result-price {
    text-align: right;
    font-size: 0.6em;
    position: relative;
}

.result-amount {
    font-weight: bold;
    font-size: 5em;
    vertical-align: middle;
}

.result-submit-button {
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    background: rgba(231, 76, 60, 0.81);
    color: white;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Lato";
    border: rgba(119, 46, 39, 0.81) solid;
    border-width: 1px 1px 3px 1px;
    cursor: pointer;
    border-radius: 3px;
}

.result-submit-button:hover {
    background: rgba(231, 107, 94, 0.81);
}

.result-submit-button:active {
    border-width: 3px 1px 1px 1px;
}

.result-number {
    text-align: center;
    font-weight: lighter;
    font-size: 1.4em;
    margin-bottom: 10px;
    padding-top: 20px;
}

.filters {
    margin-top: 54px;
    padding: 0 20px;
}

.filter {
    font-family: Lato;
    font-weight: normal;
    color: #eee;
    cursor: pointer;
    width: 30%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    border: 1px #454545 solid;
    margin: 10px 1%;
    border-radius: 3px;
}

.filter input {
    top: 15px;
    left: 39%;
    position: absolute;
}

.filter label {
    display: block;
    cursor: pointer;
    padding: 40px 0 15px 0;
}

.filter:hover {
    background: #424242;
}

.map-position {
    position: absolute;
    left: 25px;
    font-family: Lato;
    color: white;
    background: rgba(0, 0, 0, 0.52);
    bottom: 0px;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    font-weight: lighter;
    cursor: pointer;
    margin-bottom: -30px;
    min-width: 170px;
    text-align: center;
    transition: 0.2s linear;
}

.map-position:hover {
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
}

.map-position-place {
    margin-left: 5px;
}

.change-position {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 0.7em;
    padding: 10px 0 5px 0;
    font-weight: normal;
}

.map-container {
    height: 330px;
}
