.booking-dates
    | Du :
    input.primary-input.js-from-input
    | Au :
    input.primary-input.js-to-input
.booking-price-insert
    strong.booking-price
        | 273 €
.booking-submit
    input.submit-button(type="submit")
