.booking-dates
    | Du :
    input.primary-input.js-from-input
    | Au :
    input.primary-input.js-to-input
.booking-price-insert
    strong.booking-price.js-price
        | -- €
    span.booking-daily
        = "(soit " + dailyPrice + " €/jour)"
.booking-submit
    button.submit-button(type="submit")
        | Réserver
