.booking-dates
    | Du :
    input.primary-input.js-from-input
    | Au :
    input.primary-input.js-to-input
.booking-price-insert
    strong.booking-price.js-price
        | -- €
form.booking-submit.js-form(action="/book/" + bookingId + "/finalize/", method="POST")
    input.js-form-from(type="hidden", value=toSerialized, name="to")
    input.js-form-to(type="hidden", value=fromSerialized, name="from")
    input.submit-button(type="submit", value="Réserver")
#offers
