ul.filters
    .filters-top
        .primary-filters
            li.filter-place.filter
                .place-input
                    strong= place
                    .filter-input-wrapper
                        i.fa.fa-map-marker
                        input.primary-input.js-place-input(type="text")
            li.filter-from.filter
                .editable-datepicker
                    span
                        = timeFromWording
                    .filter-input-wrapper
                        i.fa.fa-calendar
                        input.primary-input.js-from-input
            li.filter-to.filter
                .editable-datepicker
                    span
                        = timeToWording
                    .filter-input-wrapper
                        i.fa.fa-calendar
                        input.primary-input.js-to-input
        .filter.filters-expand
            strong.js-filters-expand
                | Filtres
                i.fa.fa-caret-down
    .secondary-filters.js-secondary-filters
        each on, feature in secondaryFilters
            li.feature
                input.feature-checkbox.js-feature-filter(type="checkbox", checked=on, data-feature=feature, id="feature-" + feature)
                label(for="feature-" + feature).feature-name=feature
