li.result
    .result-photo-wrapper
        img(src="http://placehold.it/350x200")
    .result-infos
        .result-title= title
        .result-description=description
    .result-submit
        .result-price
            span.result-daily-price
                span.result-amount= price + '€'
        a(href=link).result-submit-button
            | Réserver
