li.result
    .result-photo-wrapper
        img(src=pictureUrl)
    .result-infos
        .result-title= name
        .result-description=description
    .result-submit
        .result-price
            span.result-daily-price
                span.result-amount= price + '€'
        button.result-submit-button
            | Réserver
